.footer
{
	z-index: 7;
	position: relative;
	bottom: 0;
	padding: 0;
}

.footer .brand-logo
{
	background: #0085c6;
	padding: 10px 0;
}

.footer .brand-logo img
{
	width: 80%;
}

.footer .copyright
{
	padding: 7px 0;
	background: #e6e6e6;
	text-align: center;
}

@media (max-width: 800px)
{
	.footer .brand-logo img
	{
		width: 95%;
	}
}

@media (min-width: 1400px)
{
	div.wrapper
	{
			margin-bottom: 130px;
	}

	div.footer
	{
		position: fixed;
	}
}
