::-moz-selection
{
   background-color: #000;
   color: #fff;
}

::selection
{
   background-color: #000;
   color: #fff;
}

body
{
	overflow-x: hidden;
}

textarea
{
	resize: none;
}

a:hover, a:focus, a:active
{
	text-decoration: none;
}

.wrapper
{
    display: flex;
    margin-top: 41px;
}

.bg-image
{
	background-image: url('../img/bg/0.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: -2;
	opacity: 1;
	top: 0;
}

.bg-black-effect
{
	background: #000;
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: -1;
	opacity: 0.2;
	top: 0;
}

div.main-content
{
	color: #fff;
}

div.main-content p
{
	font-size: 17px;
	margin: 20px 0;
}

div.index
{
	text-align: center;
}

.index-title
{
	font-size: 70px;
    text-align: center;
    margin-top: 20%;
    position: relative;
}

.index .read-more
{
	border: 2px solid #fff;
    font-size: 14px;
    color: #fff;
    padding: 10px 20px;
    top: 30px;
    position: relative;
    font-weight: bold;
    transition: all .5s;
    display: inline-block;
}

.index .read-more:hover
{
	background: #fff;
	color: #01121a;
}

.index .feature
{
	margin-top: 80px;
}

.index .feature a
{
	margin: 10px 35px;
	display: inline-block;
}

.index .feature img
{
	height: 87px;
}

.main-content .title
{
	margin-bottom: 20px;
    margin-top: 45px;
}

.main-content .left-content,
.main-content .right-content
{
	margin-top: 50px;
}

.main-content .left-content
{
	height: 100vh;
}

.main-content .left-content img
{
	position: relative;
	top: 41%;
}

.main-content .left-content.form-content,
.main-content .left-content.form-content + div
{
	margin-top: 10px;
}

.main-content .left-content .form-control,
.main-content .reseller_reg .form-control
{
	background: transparent;
	border-radius: 0;
	border: 1px solid #fff;
	color: #fff;
}
.main-content .reseller_reg select.form-control option
{
	color: #000;
}

.main-content .left-content .form-control:focus,
.main-content .reseller_reg .form-control:focus
{
	box-shadow: none;
}

.main-content .left-content .btn
{
	border-radius: 0;
	border: none;
	background: #0085c6;
	padding: 10px 25px;
	font-weight: bold;
	transition: all .7s;
}

.main-content .left-content .btn:hover,
.main-content .left-content .btn:active,
.main-content .left-content .btn:focus
{
	background: #18aaf1;
}

.main-content .reseller_reg a:not(.close)
{
	background: #0085c6;
	color: #fff;
	padding: 10px 20px;
	font-size: 16px;
	margin-bottom: 20px;
	display: inline-block;
	transition: all .2s ease-in;
}

.main-content .reseller_reg a:not(.close):hover
{
	background: #0ea1e8;
}

.main-content .reseller_reg ol,
.main-content .reseller_reg ul
{
	margin-top: -10px;
}

.main-content .reseller_reg .form-group .subtitle
{
	padding: 0;
	font-size: 19px;
	text-align: center;
}

.main-content .reseller_reg input[type='checkbox'].form-control,
.main-content .reseller_reg input[type='radio'].form-control
{
	width: auto;
	display: inline;
	margin: 0;
  outline: none;
}

.main-content .reseller_reg input[type='checkbox'].form-control + label,
.main-content .reseller_reg input[type='radio'].form-control + label
{
	top: -12px;
	margin-right: 40px;
	font-size: 15px;
	position: relative;
}

.main-content .reseller_reg input[type='checkbox'].form-control + label:hover,
.main-content .reseller_reg input[type='radio'].form-control + label:hover
{
	cursor: pointer;
}

.notif-page
{
  background: #e6e6e6;
  height: 100vh;
}

.notif-page-wrapper
{
  background: #fff;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px 0;
  border-radius: 10px;
  box-shadow: 0 0 20px 7px #ccc;
}

.notif-page-wrapper .notif-title
{
  font-size: 23px;
  text-align: center;
  color: #546674;
  margin-top: 0;
}

.notif-page-wrapper .notif-icon
{
  font-size: 28px;
  text-align: center;
  color: #fff;
  background: #5fcd71;
  width: 100px;
  height: 100px;
  padding: 22px;
  border-radius: 50%;
  border: 15px solid #eaf9f0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 15px;
}

.notif-page-wrapper .notif-icon.failed
{
  background: #f24951;
  border-color: #fce9ed;
}

.notif-page-wrapper .notif-desc
{
  margin-top: 15px;
  padding: 10px 50px;
  text-align: center;
  color: #89878c;
  font-size: 15px;
}

.notif-page-wrapper .notif-btn
{
  color: #fff;
  background: #5fcd71;
  margin-top: 35px;
  width: 230px;
  font-size: 16px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
}

.notif-page-wrapper .notif-btn.failed
{
  background: #f24951;
}

@media (max-width: 1050px)
{
	.index-title
	{
		font-size: 50px;
	}

	.index .read-more
	{
	    font-size: 12px;
	}

	.index .feature img
	{
		height: 75px;
	}
}

@media (max-width: 991px)
{
	.main-content .left-content
	{
		height: auto;
		text-align: center;
	}

	.main-content .left-content .form-group label
	{
		float: left;
	}

	.main-content .left-content img
	{
		top: 0;
	}

	.main-content .product .right-content
	{
		padding-top: 0;
		margin-top: 25px;
	}

	.main-content .product .right-content p
	{
		margin-top: 20px;
	}
}

@media (max-width: 800px)
{
	.wrapper
	{
	    margin-top: 91px;
	}

	.index-title
	{
		margin-top: 10%;
	}

	.main-content .title
	{
		text-align: center;
	    margin-top: 20px;
	}

	.form-group label
	{
		float: left;
	}

	.main-content .reseller_reg .form-group label
	{
		float: unset;
	}
}

@media (max-width: 530px)
{
	.wrapper
	{
	    margin-top: 82px;
	}

	.main-content .reseller_reg .form-group label
	{
		word-wrap: break-word;
	}
}

@media (max-width: 370px)
{
	.wrapper
	{
	    margin-top: 74px;
	}

	.index-title
	{
		font-size: 30px;
	}

	.index .feature a
	{
		margin: 10px 15px;
	}
}
