.navbar 
{
    padding: 7px 10px;
    background: #e6e6e6;
    min-height: unset;
    border: none;
    border-radius: 0;
    top: 0;
    z-index: 7;
    position: fixed;
    width: 100%;
}

div.container-fluid .socmed-item
{
    display: inline;
    float: left;
    margin-left: 16px;
}

div.container-fluid .socmed-item i
{
    font-size: 25px;
    color: #485659;
    margin-right: 10px;
}

div.container-fluid .socmed-item i:hover,
div.container-fluid .socmed-item i:focus,
div.container-fluid .socmed-item i:active
{
    color: #0085c6;
}

div.container-fluid .lang-option-navbar
{
    display: inline;
    float: left;
    margin-left: 35px;
    top: 3px;
    position: relative;
}

div.container-fluid .lang-option-navbar a 
{
    margin-right: 5px;
    color: #0085c6;
}

div.container-fluid .lang-option-navbar a:hover,
div.container-fluid .lang-option-navbar a:focus,
div.container-fluid .lang-option-navbar a:active
{
    color: #035e8a;
}

div.container-fluid .lang-option-navbar a i,
div.container-fluid .lang-list-mobile a i
{
    font-size: 7px;
    color: #15d45a;
    top: -1px;
    position: relative;
    margin-right: 10px;
}

div.container-fluid .lang-option-navbar a.toggle-language
{
    display: none;
}

div.container-fluid .lang-option-navbar img
{
    width: 18px;
}

div.container-fluid .lang-list-mobile
{
    display: none;
    position: fixed;
    background: #fff;
    top: 0;
    z-index: 99;
    width: 100%;
    left: 0;
    padding: 20px;
    height: 100vh;
}

div.container-fluid .lang-list-mobile .title
{
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 21px;
    color: #0c4e70;
}

div.container-fluid .lang-list-mobile .btn-close
{
    float: right;
    border: none;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    color: #bbb;
}

div.container-fluid .lang-list-mobile .btn-close:hover,
div.container-fluid .lang-list-mobile .btn-close:active,
div.container-fluid .lang-list-mobile .btn-close:focus
{
    color: #ff3d3d;
    outline: none;
}

div.container-fluid .lang-list-mobile a
{
    display: block;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    margin: 10px 0;
}

div.container-fluid .lang-list-mobile a img
{
    margin-right: 10px;
    height: 15px;
}

div.container-fluid div.brand-icon-big
{
    position: absolute;
    right: 3%;
    width: 200px;
    top: 0;
}

div.container-fluid div.brand-icon-big img
{
    position: relative;
    width: 100%;
}

div.container-fluid div.brand-icon-small
{
    display: none;
}

div.container-fluid div.brand-icon-small img
{
    position: relative;
}

div.container-fluid .sidebar-collapse
{
    display: none;
}

@media (max-width: 1050px)
{
    div.container-fluid div.brand-icon-big
    {
        width: 160px;
    }

    div.container-fluid div.brand-icon-big img
    {
        width: 100%;
    }
}

@media (max-width: 800px) 
{
    .navbar
    {
        background: #0c4e70;
    }

    div.container-fluid .socmed-item
    {
        display: none;
    }

    div.container-fluid .socmed-item i
    {
        color: #fff;
    }

    div.container-fluid .lang-option-navbar
    {
        position: absolute;
        margin-left: 0;
        top: 29px;
    }

    div.container-fluid .lang-option-navbar a
    {
        color: #fff;
        font-size: 15px;
        top: 5px;
    }

    div.container-fluid .lang-option-navbar a img
    {
        width: 25px;
        margin-right: 5px;
    }

    div.container-fluid .lang-option-navbar a span
    {
        top: 3px;
        position: relative;
    }

    div.container-fluid .lang-option-navbar a.toggle-language
    {
        display: unset;
    }

    div.container-fluid .lang-option-navbar a:not(.toggle-language)
    {
        display: none;
    }

    div.container-fluid div.brand-icon-big
    {
        display: none;
    }

    div.container-fluid div.brand-icon-small
    {
        display: inline;
    }

    div.container-fluid div.brand-icon-small img
    {
        width: 257.2px;
        padding: 10px 0;
    }

    div.container-fluid .sidebar-collapse
    {
        display: unset;
        position: absolute;
        right: 20px;
        top: 15px;
    }

    div.container-fluid .sidebar-collapse a
    {
        background: transparent;
        border: none;
        font-size: 20px;
        color: #fff;
    }

    div.container-fluid .sidebar-collapse a:hover,
    div.container-fluid .sidebar-collapse a:active,
    div.container-fluid .sidebar-collapse a:focus
    {
        background: transparent;
        color: #a5a5a5;
        border: none;
        outline: none;
        box-shadow: none;
    }
}

@media (max-width: 530px) 
{
    div.container-fluid .lang-option-navbar a span
    {
        display: none;
    }

    div.container-fluid div.brand-icon-small img
    {
        width: 220px;
    }  
}

@media (max-width: 370px) 
{
    div.container-fluid div.brand-icon-small img
    {
        width: 180px;
    }  
}