.sidebar 
{
    width: 345px;
    max-width: 345px;
    min-width: 345px;
    color: #fff;
    transition: all 0.3s;
    z-index: 2;
}

.sidebar.expand
{
    margin-left: 0;
}

.sidebar .sidebar-menu
{
    margin-top: 35px;
    list-style: none;
    padding: 0;
}

.sidebar .sidebar-menu li a
{
    color: #fff;
    font-size: 18px;
    padding: 10px 0 10px 40px;
    margin: 5px 0;
    border-radius: 0 35px 35px 0;
    display: block;
    transition: all .3s;
}

.sidebar .sidebar-menu li:hover a,
.sidebar .sidebar-menu li:focus a,
.sidebar .sidebar-menu li:active a,
.sidebar .sidebar-menu li a.active
{
    background: #0c4e70;
}

.sidebar .sidebar-menu li:hover a + .submenu-wrapper,
.sidebar .sidebar-menu li:focus a + .submenu-wrapper,
.sidebar .sidebar-menu li:active a + .submenu-wrapper
{
    display: unset;
}

.sidebar .submenu-wrapper
{
    display: none;
    list-style: none;
    background: #fff;
    padding: 0;
    width: 250px;
    position: absolute;
    transform: translate(138%, -30%);
    transition: all .5s;
}

.sidebar .submenu-wrapper li
{
    padding-left: 0;
}

.sidebar .sidebar-menu .submenu-wrapper li a
{
    font-size: 14px;
    color: #3e3d3d;
    padding-left: 20px;
    border-radius: 0;
    margin: 0;
    background: #fff;
}

.sidebar .sidebar-menu .submenu-wrapper li a:hover,
.sidebar .sidebar-menu .submenu-wrapper li a:focus,
.sidebar .sidebar-menu .submenu-wrapper li a:active,
.sidebar .sidebar-menu .submenu-wrapper li a.active
{
    color: #fff;
    background: #0c4e70;
}

div.right 
{
    padding: 0 0 50px 0;
    transition: all 0.3s;
    width: 100%;
    overflow-y: hidden;
}

@media (max-width: 1050px) 
{
    .sidebar 
    {
        width: 230px;
        max-width: 230px;
        min-width: 230px;
    }

    .sidebar .sidebar-menu li:hover a + .submenu-wrapper,
    .sidebar .sidebar-menu li:active a + .submenu-wrapper,
    .sidebar .sidebar-menu li:focus a + .submenu-wrapper
    {
        transform: translate(92%, -30%);
    }  
}

@media (max-width: 800px) 
{
    .sidebar 
    {
        background: #222533;
        margin-left: -230px;
    }

    .sidebar .sidebar-menu
    {
        margin-top: 10px;
        overflow: auto;
        max-height: 100vh;
    }

    .sidebar .sidebar-menu li a 
    {
        font-size: 14px;
        border-radius: 0;
        padding-left: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #0e0f13;
    }

    .sidebar .sidebar-menu li:hover a + .submenu-wrapper,
    .sidebar .sidebar-menu li:active a + .submenu-wrapper,
    .sidebar .sidebar-menu li:focus a + .submenu-wrapper
    {
        background: transparent;
        padding: 0;
        width: 100%;
        display: block;
        position: relative;
        transform: unset;
    }

    .sidebar .sidebar-menu .submenu-wrapper
    {
        transition: all .5s;
    }

    .sidebar .sidebar-menu .submenu-wrapper li a
    {
        padding-left: 40px;
        color: #fff;
        background: transparent;
    }
}