<div class="telegram-content">
  <div class="telegram-icon">
    <div class="telegram-info">
      <div class="arrow-telegram">
      </div>
      <span>
        Tinggalkan Pesan
      </span>
    </div>
    <div class="backdrop">
    </div>
    <a href="https://telegram.me/ESETID" target="_blank">
      <i class="fab fa-telegram"></i>
    </a>
  </div>
</div>
