.telegram-content{
  position: fixed;
  right:1.7rem;
  bottom: 1.7rem;
  z-index: 1000;
  cursor: pointer;
}

.telegram-info{
  position: absolute;
  background-color: #fff;
  display: inline-block;
  width: max-content;
  height: 36px;
  color: #333;
  font-size: 17px;
  padding: 5px 8px;
  right: 76px;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  margin: auto;
  box-shadow: 0 1.93465px 7.73859px rgba(0,0,0,0.15);
}

.telegram-icon{
  position: relative;
  display: inline-block;
  background: transparent;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.telegram-icon i{
  z-index: 2;
  font-size: 50px;
}

.telegram-icon .backdrop{
  position: absolute;
  width: 36px;
  height: 36px;
  background: #fff;
  top: 0;
  border-radius: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}
.telegram-icon a{
  color: #008ba0 !important;
}
.arrow-telegram{
  position: absolute;
  display: block;
  right: -22px;
  border-left: 17px solid #fff;
  border-right: 11px solid transparent;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  top: 0;

  bottom: 0;
  height: 22px;
  margin: auto;
}

@media screen and (max-width: 767px){
  .telegram-icon i{
    font-size: 44px;
  }
  .telegram-info {
    font-size: 14px;
    right: 65px;
    height: 30px;
    padding: 5px 7px;
  }
  .arrow-telegram {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    height: 11px;
  }
  .telegram-content{
    right:0.8rem;
    bottom: 0.8rem;
  }
}
@media screen and (max-width: 478px){
  .telegram-icon i{
    font-size: 41px;
  }
  .telegram-info {
    font-size: 12px;
    right: 65px;
    height: 26px;
  }
  .arrow-telegram{
    height: 9px;
  }
}
