<div class="col-sm-12 col-lg-10 product">
	<style type="text/css">
		div.bg-image
		{
		    background-image: url(assets/img/bg/<?php echo $bg_img_name; ?>);
		}
		
		div.right-content
		{
			padding-top: 15%;
			float: right;
		}

		div.main-content p
		{
			color: #000;
		}
	</style>

	<div class="col-xs-12 col-md-4 left-content">
		<span></span>
		<img src="assets/img/products/<?php echo $product_icon; ?>">
	</div>

	<div class="col-xs-12 col-md-7 right-content">
		<?php echo ${$_COOKIE['user_lang'].'_content'}; ?>
	</div>

</div>
