<div class="col-sm-12 index">
    
	<h1 class="index-title">IT SECURITY FOCUS</h1>

	<a href="story.php" class="read-more">READ MORE</a>

	<div class="feature col-xs-12">
		<?php
		for ($i=0; $i < count($feature['img']) ; $i++) 
		{
		?>
		<a href="<?php echo $feature['url'][$i]; ?>">
			<img src="assets/img/index-feature/<?php echo $feature['img'][$i]; ?>">
		</a>		
		<?php
		}
		?>
	</div>

</div>